services:
  streamlit-app:
    build: .
    ports:
      - "8501:8501"
    depends_on:
      - opentelemetry
    networks:
      - default
  opentelemetry:
    image: otel/opentelemetry-collector-contrib:latest
    command: ["--config=/etc/otel-collector-config.yaml"]
    volumes:
      - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml
    ports:
      - "4317:4317"  # OTLP gRPC port
      - "55681:55681" # OTLP HTTP port
    networks:
      - default

networks:
  default:
    driver: bridge